# Environment variables for the app
# Secrets should be sets in the "Settings" menu in the AI Studio UI.
# This file serves as a template for available environment variables.

GEMINI_API_KEY=AIzaSyDbBLE9g66R0SayRVLNWp78Q0e5WQGPvBw
